fieldset{
    height: 40px;
    background-color: rgb(29, 76, 137);
}
.qqr{
    display: flex;
    color: white;
}
.unb{
    margin-top: 8px;
    color: white;
}
.p1{
   
    font-size:small;
    margin-top: 16px;
    margin-left: 22px;
    width: 20vw;
    
}
.box{
    background-color: orange;
    width: 60px;
    height: 30px;
    
    color: white;
    margin-left: 720px;
    margin-top: -2px;
    }
.p2{
    margin-top: 3px;
    font-size: 10px;
   }
.text{
    display: flex;
    color: rgb(29, 76, 137);
    margin-top: 100px;
    margin-left: 300px;
}
.lorem{
    color:rgb(29, 76, 137) ;
    width: 50vw;
    margin-left: 500px;
    margin-top: -200px;
}