 
 li span{
    margin-left: 650px;
    margin-top: 0.8rem;
 }
 
 
 .carousel-inner{
    height: 50vh;
    width: 60%;
 }
 .cardd{
    display: flex;
    justify-content: space-around;
    padding: 30px;
 }